@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.btn {
  padding: 13px 25px !important;
  border-radius: 20px;
  font-weight: bold;
}

.dark__btn {
  background: #292c6d;
  color: #fff !important;
}

.bright__btn {
  background: #ec255a;
  border: 2px solid #faedf0;
  color: #fff;
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-transform: uppercase;
}

.big__header {
  font-size: 40px;
  color: #161853;
}

.medium__header {
  font-size: 35px;
}

.small__header {
  font-size: 25px;
  text-transform: none;
}

p {
  font-family: "Varela Round", sans-serif;
}

.main__p {
  font-size: 20px;
  line-height: 1.6;
}

.small__p {
  font-size: 14px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Varela Round", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1150px;
}

body {
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 50px;
  background: #fff;
  color: #161853;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

nav .nav__logo a {
  font-weight: 900;
  color: #161853;
}

nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav__list ul li {
  margin: 0 5px;
}

nav .nav__list ul li a {
  padding: 13px 25px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

nav .nav__list ul li a img {
  width: 150px;
}

nav .nav__list ul li:hover a {
  background-color: #292c6d;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100vw;
  margin: 100px 0;
}

.header .container {
  padding: 50px;
}

.header .container .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .container .header__content .big__header {
  margin-bottom: 20px;
}

.header .container .header__content .main__p {
  margin-bottom: 50px;
}

.header .social {
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  color: #ec255a;
  grid-gap: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .social .main__p {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  white-space: nowrap;
}

.header .social .main__p::before {
  content: "";
  position: absolute;
  right: -70px;
  top: 50%;
  width: 50px;
  height: 1px;
  background: #ec255a;
}

.header .social .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
}

.header .social .icons ul a {
  padding: 10px;
  margin: 20px 0;
  color: #ec255a;
  font-size: 18px;
}

#greet {
  width: 100vw;
  background-color: #ec255a;
  padding: 150px 0 200px 0;
  color: #fff;
  position: relative;
}

#greet .container {
  margin: auto;
  position: relative;
}

#greet .container .greet__content {
  text-align: center;
}

#greet .container .greet__content h2 {
  margin-bottom: 50px;
}

#greet .container .skill__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  bottom: -400px;
  border: 1px solid #292c6d;
  border-radius: 30px;
  overflow: hidden;
}

#greet .container .skill__box .skill {
  border: 1px solid #292c6d;
  padding: 50px;
  color: #161853;
  text-align: center;
}

#greet .container .skill__box .skill .skill__icon {
  color: #ec255a;
  font-size: 45px;
}

#greet .container .skill__box .skill .small__header {
  margin: 30px 0;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 250px 0 200px 0;
}

#projects .container {
  text-align: center;
  position: relative;
}

#projects .container .medium__header,
#projects .container .main__p {
  margin: 20px;
  color: #161853;
}

#projects .container .project__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 60px 0;
}

#projects .container .project__box .project a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
  border-radius: 20px;
}

#projects .container .banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  background: #161853;
  position: absolute;
  border-radius: 30px;
  place-items: center;
  padding: 70px 20px;
  bottom: -35%;
  z-index: 1;
}

#projects .container .banner .small__header,
#projects .container .banner .small__p {
  color: #fff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #292c6d;
  width: 100vw;
  height: 250px;
}

footer .container .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 75px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

footer .container .nav__logo img {
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 30px;
}

footer .container .nav__logo .small__header {
  color: #fff;
}

footer .container .nav__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */