// Import scss
@import "vars";
@import "center";
@import "grid";
@import "hover";
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     scroll-behavior: smooth;
}

body {
     font-family: "Varela Round", sans-serif;
}

a {
     text-decoration: none;
     //  @include hover(0.7);
}

li {
     list-style: none;
}

.about__container {
     width: 700px;
}
#about {
     @include flexCenter(center, column);
     padding: 100px 0;
     position: relative;
     &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background: url(/img/aboutBG.jpg);
          background-size: cover;
          object-fit: cover;
     }
     .about__container {
          padding: 30px;
          background-color: $white;
          z-index: 10;
          article {
               @include gridBox(2, 50px);
               margin: 20px 0;
               .small__header {
                    font-size: 18px;
                    color: $dark;
                    line-height: 1.2;
                    margin-bottom: 20px;
               }
               .small__text {
                    font-size: 13px;
                    color: #333;
                    font-weight: bold;
               }
               img {
                    object-fit: cover;
                    width: 100%;
               }
               .content__left,
               .content__right {
                    @include flexCenter(center, column);
               }
          }
          .text {
               padding: 20px 30px;
               .content__right {
                    margin-left: 30px;
               }
          }
     }
}
