// Import scss
@import "vars";
@import "center";
@import "grid";
@import "hover";
// Reset
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     scroll-behavior: smooth;
}

body {
     font-family: "Varela Round", sans-serif;
}

a {
     text-decoration: none;
     //  @include hover(0.7);
}

li {
     list-style: none;
}

.container {
     max-width: 1150px;
}

body {
     overflow-x: hidden;
}
nav {
     @include flexCenter(space-between, row);
     padding: 10px 50px;
     background: $white;
     color: $dark;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: $white;
     z-index: 999;

     // Nav logo
     .nav__logo {
          a {
               font-weight: 900;
               color: $dark;
          }
     }
     // Nav lists
     .nav__list {
          @include flexCenter(center, row);
          ul {
               display: flex;
               li {
                    margin: 0 5px;
                    a {
                         padding: 13px 25px;
                         border-radius: 20px;
                         font-size: 14px;
                         font-weight: bold;
                         text-transform: uppercase;
                         color: #333;
                         img {
                              width: 150px;
                         }
                    }
                    &:hover a {
                         background-color: $darkBlue;
                         color: white;
                    }
               }
          }
     }
}

.header {
     @include flexCenter(center, column);
     position: relative;
     width: 100vw;
     margin: 100px 0;
     .container {
          padding: 50px;
          .header__content {
               @include flexCenter(center, column);
               .big__header {
                    margin-bottom: 20px;
               }
               .main__p {
                    margin-bottom: 50px;
               }
          }
     }
     // Absolute social icon /right side/
     .social {
          position: absolute;
          right: 40px;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          color: $blossom;
          grid-gap: 80px;
          @include flexCenter(center, column);
          //
          .main__p {
               transform: rotate(90deg);
               white-space: nowrap;
               &::before {
                    content: "";
                    position: absolute;
                    right: -70px;
                    top: 50%;
                    width: 50px;
                    height: 1px;
                    background: $blossom;
               }
          }
          .icons {
               ul {
                    @include flexCenter(space-between, column);
                    height: 100px;
                    a {
                         padding: 10px;
                         margin: 20px 0;
                         color: $blossom;
                         font-size: 18px;
                    }
               }
          }
     }
}

#greet {
     width: 100vw;
     background-color: $blossom;
     padding: 150px 0 200px 0;
     color: $white;
     position: relative;
     .container {
          margin: auto;
          position: relative;
          .greet__content {
               text-align: center;
               h2 {
                    margin-bottom: 50px;
               }
          }
          // Skill grid box
          .skill__box {
               @include gridBox(3, 0px);
               width: 100%;
               position: absolute;
               background-color: $white;
               bottom: -400px;
               border: 1px solid $darkBlue;
               border-radius: 30px;
               overflow: hidden;
               // Skill
               .skill {
                    border: 1px solid $darkBlue;
                    padding: 50px;
                    color: $dark;
                    text-align: center;
                    .skill__icon {
                         color: $blossom;
                         font-size: 45px;
                    }
                    .small__header {
                         margin: 30px 0;
                    }
               }
          }
     }
}

#projects {
     @include flexCenter(center, column);
     padding: 250px 0 200px 0;
     .container {
          text-align: center;
          position: relative;
          .medium__header,
          .main__p {
               margin: 20px;
               color: $dark;
          }
          // Project grid box
          .project__box {
               @include gridBox(3, 20px);
               margin: 60px 0;
               // Project
               .project {
                    a {
                         img {
                              object-fit: cover;
                              width: 100%;
                              height: 275px;
                              border-radius: 20px;
                         }
                    }
               }
          }
          // Banner
          .banner {
               @include gridBox(3, 0);
               background: $dark;
               position: absolute;
               border-radius: 30px;
               place-items: center;
               padding: 70px 20px;
               bottom: -35%;
               z-index: 1;
               .small__header,
               .small__p {
                    color: $white;
               }
          }
     }
}

footer {
     @include flexCenter(center, column);
     position: relative;
     background-color: $darkBlue;
     width: 100vw;
     height: 250px;
     .container {
          .nav__logo {
               @include flexCenter(space-between, row);
               margin-top: 75px;
               img {
                    height: 50px;

                    border-radius: 50%;
                    background-color: $white;
                    margin-right: 30px;
               }
               .small__header {
                    color: $white;
               }
               transition: 0.5s ease;
               &:hover {
                    transform: scale(1.2);
               }
          }
     }
}
